@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

:root {
    --blurple: #5865F2;

    --gray: #2c2f33;
    --light-gray: #454a50;
    --red: #ED4245;
    --green: #248046;
    --yellow: #FEE75C;
    --fuchsia: #EB459E;
    --orange: #ff8800;

    --gray-hover: #373a3d;
    --light-gray-hover: #3a3f44;
    --red-hover: #bb2c2e;
    --green-hover: #1b6436;

    --white-hover: #d4d4d4;
}

.dtl-btn {
    position: fixed;
    border-radius: 1rem;
    z-index: 999;
    top: 0;
    left: 0;
    margin: 1rem;
    padding: .5rem;
    cursor: pointer;
}

@keyframes details-show {
    from {
        opacity: 0;
        transform: var(--details-translate, translateY(-0.5em));
    }
}

.dtl-btn[open]>*:not(summary) {
    animation: details-show 1s ease-in-out;
}

.dtl-btn[open] {
    background-color: var(--gray);
    transition: background-color 1.25s ease-in-out;
}

.dtl-btn[open] .dtl-icon {
    box-shadow: none;
}

.dtl-btn-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
    margin: .75rem 0 .25rem 0;
}

.dtl-btn summary {
    box-shadow: 0 0 .75rem 0 rgba(0, 0, 0, .8);
    list-style: none;
}

.dtl-btn-inner-container span,
.dtl-btn summary {
    cursor: pointer;
    padding: .75rem;
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color .25s ease-in-out;
    border-radius: 1rem;
    color: white;
}

.dtl-btn-inner-container span:not(.dtl-icon) {
    background-color: var(--green);
    border-radius: 100%;
    padding: .5rem;
}

.dtl-btn-inner-container span:not(.dtl-icon):hover {
    background-color: var(--green-hover);
}

.dtl-icon {
    background-color: var(--light-gray);
    border-radius: 1rem;
    padding: 1rem;
    transition: background-color .25s ease-in-out, box-shadow .75s ease-in-out;
}

.dtl-icon:hover {
    background-color: var(--blurple);
}

.login-ui-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .75rem;
    padding: .75rem;
    background-color: var(--light-gray);
    border-radius: .25rem;
}

.login-ui-btn-title {
    font-weight: 500;
}

.dtl-ao-container {
    padding: .75rem;
    background-color: var(--light-gray);
    border-radius: .25rem;
    overflow: auto;
}

.dtl-ao th {
    padding: .75rem;
    color: white;
    font-weight: 600;
}

.dtl-ao td {
    background-color: var(--gray);
    border-radius: .25rem;
    transition: background-color .25s ease-in-out;
    padding: .75rem;
    margin: .2rem;
    vertical-align: middle;
    text-align: center;
}

.dtl-ao td:hover {
    background-color: var(--gray-hover);
}

.dtl-ao-icon {
    border-radius: 100%;
    object-fit: cover;
    height: 3rem;
    width: 3rem;
}